<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css" integrity="sha512-ZRv40llEogRmoWgZwnsqke3HNzJ0kiI0+pcMgiz2bxO6Ew1DVBtWjVn0qjrXdT3+u+pSN36gLgmJiiQ3cQtyzA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Whistle</title>
</head>
<body class="is-vertical-center">
    <div class="container mb-6 pb-6">
        <div class="columns is-centered p-0 m-0">
            <div class="column is-half p-0 m-0">
                <h1 class="logo">Whistle</h1>
                <a class="login button is-link" href="/auth/discord">Login through Discord</a>
            </div>
        </div>
    </div>
    <script src="/js/index.js"></script>
</body>
</html>